@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Plus+Jakarta+Sans:ital,wght@0,300;1,300&display=swap');

* {
  font-family: 'Plus Jakarta Sans';
  background-color: #F6ECF5;
}

h1 {
    text-align: center;
    font-style: italic;
    border-bottom: .2px solid #061218;
    width: 400px;
    margin: 20px auto;
    height: 60px;
}

p {
  width: 690px;
  margin: 20px auto;
  text-align: center;
  font-size: 13px;
  font-style: italic;
}

.container {
  margin: auto;
  border: 1px solid #000;
  margin-top: 1em;
  width: 430px;
  height: 430px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 10px;
}

.cell {
  border: 1px solid #000;
  background-color: #F3DCD4;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  transform: scale(110%);
  transition: .2s;
}

.notActive {
  filter: blur(3px);
  transition: .2s;
}

.outOfBounds {
  filter: blur(0);
  transform: scale(100%);
  transition: .2s;
}
